<%- include ('../../common/_header.ejs') %>
    <div id="custom_panel" class="panel-header bubble-shadow">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">SMMC ~
                        <%= title %>
                    </h2>
                    <h5 class="text-white op-7 mb-2">
                        <%= smmc %>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner">
        <div class="page-header">
            <div class="ml-md-auto py-2 py-md-0">
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        SMMC
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href=<%=url %> >
                            <%= title %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="alert" class="alert" role="alert"></div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-11" id='div_2'>
                <div class="card-body">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Table_title"><strong>Utilisateurs</strong></h3>
                    </div>
                    <div class="table-responsive">
                        <table id="user_table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nom et Prénoms</th>
                                    <th>Fonction</th>
                                    <th>Lieu de travail</th>
                                    <th>Email</th>
                                    <th>Tel</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>N°</th>
                                    <th>Nom et Prénoms</th>
                                    <th>Fonction</th>
                                    <th>Lieu de travail</th>
                                    <th>Email</th>
                                    <th>Tel</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <!-- all user here -->
                
                            </tbody>
                        </table>
                    </div>   
                </div>
            </div>
            <div class="card col-md-11" id='div_1'>
                <div class="card-body">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Formulaire</h3>
                        </div>
                        <div class="row">
                            <div class="row col-md-8">
                                <div class="form-group col-md-6">
                                    <label for="exampleInputPassword1">Nom</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nom">
                                    <input type="text" class="form-control" id="user_id" hidden>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleFormControlSelect1">Prénoms</label>
                                    <input type="text" class="form-control" id="firstname" placeholder="Prénoms">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputPassword1">Fonction</label>
                                    <input type="text" class="form-control" id="fonction">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleFormControlSelect1">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="exemple@smmc.mg">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleFormControlSelect1">Tel</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">+261</span>
                                        </div>
                                        <input type="text" class="form-control" id="tel">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Rôle</label>
                                    <select class="form-control form-control-lg" id="select_role">
                                        <!-- Rôle -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <label>Niveau d'affectation</label><br/>
                                    <label class="form-radio-label">
                                        <input class="form-radio-input" type="radio" name="optionsRadios" value="Directions" id="radio_dir" checked=false>
                                        <span class="form-radio-sign">Direction</span>
                                    </label>
                                    <label class="form-radio-label ml-1">
                                        <input class="form-radio-input" type="radio" name="optionsRadios" value="Départements" id="radio_dep" checked=false>
                                        <span class="form-radio-sign">Departement</span>
                                    </label>
                                    <label class="form-radio-label ml-1">
                                        <input class="form-radio-input" type="radio" name="optionsRadios" value="Services" id="radio_sce" checked=false>
                                        <span class="form-radio-sign">Service</span>
                                    </label>
                                </div>
                                <div class="form-group" id="select">
                                    <label id="select_label" hidden></label>
                                    <select class="form-control form-control-lg" id="_select" data-placeholder="Niveau d'affectation">
                                        <!-- directions / departments / services -->
                                    </select>
                                </div>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info add_user">Ajouter</button>
                            <button id="reset" class="btn btn-light">Annuler</button>
                        </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="nav flex-column nav-pills nav-primary nav-pills-no-bd nav-pills-icons" aria-orientation="vertical">
                    <a class="nav-link active" id="get_User" data-toggle="pill" role="tab" aria-selected="true">
                        <i class="la flaticon-users"></i> Utilisateurs
                    </a>
                    <a class="nav-link" id="new_User" data-toggle="pill" role="tab" aria-selected="false">
                        <i class="la flaticon-add-user"></i> Ajouter
                    </a>
                    <a class="nav-link" id="get_Tech" data-toggle="pill" role="tab" aria-selected="false">
                        <i class="icon-wrench"></i> Techniciens
                    </a>
                </div>
            </div>
        </div>
    </div>
    

    <script src="/js/ajax/user.js"></script>
    <%- include ('../../common/_footer.ejs') %>
